*{font-family: 'pretendard';}
button{cursor: pointer;}
.header_mo{display: none;}

.header_pc,
footer > div{width: 1480px; margin: 0 auto;}

body.active{overflow: hidden;}

header{border-bottom: 1px solid transparent; position: fixed; left: 0; top: 0; /* top: -90px; */ width: 100%; z-index: 9999; transition: all 0.3s;}
/* header.fixed{top: 0;} */
.header_pc{display: flex;}
.header_pc h1{cursor: pointer; width: 18.85%;}
.header_pc h1 a{display: block; height: 100px; text-indent: -9999px; display: block; background: url('../../assets/images/jungwoo_logo.png') center / contain no-repeat; max-width: 279px; width: 100%;}
.header_pc > div{width: 81.15%; display: flex; height: 100px; align-items: center;}
.header_pc nav{width: 93.33%;}
.header_pc nav > ul{padding-right: 3.65%; box-sizing: border-box; display: flex; justify-content: right; align-items: center;}
.header_pc nav > ul > li{position: relative;}
.header_pc nav > ul > li:not(:first-child){margin-left: 6.09%;}
.header_pc nav > ul > li > a{cursor: pointer; text-decoration: none; display: block; line-height: 100px; font-size: 19px; font-weight: 500; color: #FFFFFF;}
.header_pc nav > ul > li > ul{opacity: 0; visibility: hidden; position: absolute;}
.header_pc nav > ul > li > .sub_menu{border: 1px solid #EEEEEE; background-color: #FBFBFB; border-top: 1px solid #698A08; padding: 12px 0; border-radius: 0 0 5px 5px; transition: opacity 0.3s ease-out; top: 100px; left: 50%; transform: translateX(-50%); position: absolute; visibility: hidden; opacity: 0;}
.header_pc nav > ul > li > .sub_menu > li > a{cursor: pointer;  line-height: 20px; font-size: 17px; font-weight: 400; color: #666666; text-decoration: none; display: block; padding: 6px 30px;}
.header_pc nav > ul > li > .sub_menu > li > a:hover{color: #444444;}
.header_pc nav > ul > li > .sub_menu_1{width: 150px;}
.header_pc nav > ul > li > .sub_menu_2{width: 250px;}
.header_pc nav > ul > li > .sub_menu_3{width: 145px;}
.header_pc nav > ul > li > .sub_menu_4{width: 160px;}
.header_pc nav > ul > li > .sub_menu_5{width: 155px;}
.header_pc nav > ul > li:hover > a + .sub_menu{visibility: visible; opacity: 1;}
.header_pc .rightBox{width: 6.67%; display: flex; align-items: center; justify-content: right;}
.header_pc .rightBox .langBox{position: relative;}
.header_pc .rightBox .langBox > button{background: url('../../assets/images/langBtn.png') center / contain no-repeat; width: 20px; height: 20px; border: none; padding: 0;}
.header_pc .rightBox .langBox > div{display: none; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05); border-radius: 5px; background-color: #fff; position: absolute; left: 50%; top: 33px; transform: translateX(-50%);}
.header_pc .rightBox .langBox > div.active{display: block;}
.header_pc .rightBox .langBox > div > button{border: none; background-color: transparent; font-size: 14px; font-weight: 500; color: #999999; padding: 10px 20px; display: block;}
.header_pc .rightBox .langBox > div > button.active{color: #326EC8;}
.header_pc .rightBox .langBox > div > button:not(:last-child){position: relative;}
.header_pc .rightBox .langBox > div > button:not(:last-child):after{content: ''; display: block; width: 12px; height: 1px; background-color: #DDDDDD; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}

header.active,
header:hover{background-color: #fff; border-bottom: 1px solid #EEEEEE;}
header.green{border-color: #9ABD32;}
header.active .header_pc h1 a,
header:hover .header_pc h1 a{background-image: url('../../assets/images/jungwoo_logo_active.png');}
header .header_pc nav > ul > li > a{display: block; text-decoration: none;}
header.active .header_pc nav > ul > li > a,
header:hover .header_pc nav > ul > li > a{color: #444444;}
header:hover .header_pc nav > ul > li:hover > a{color: #698A08;}
header.active .header_pc .rightBox .langBox > button,
header:hover .header_pc .rightBox .langBox > button{background-image: url('../../assets/images/langBtn_active.png');}
.header_pc .rightBox{width: 11.38%; display: flex; align-items: center; justify-content: right;}
.header_pc .rightBox .langBox > button{background: url('../../assets/images/langBtn.png') center / contain no-repeat; width: 20px; height: 20px; border: none; padding: 0;}

/* 햄버거 버튼 */
.header_pc .hamburger{margin-left: 45px; cursor: pointer; background-color: transparent; border: none; padding: 0; width: 18px; display: block;}
.header_pc .hamburger span{display: block; width: 18px; border-bottom: 2px solid #fff; transition: all 0.4s;}
.header_pc .hamburger span:not(:last-child){margin-bottom: 4px;}
header.active .header_pc .hamburger span,
header:hover .header_pc .hamburger span{border-color: #777777;}
/* header.active .header_pc .hamburger span:nth-child(1){transform: translateY(2px) rotate(45deg);}
header.active .header_pc .hamburger span:nth-child(3){transform: translateY(-4px) rotate(-45deg);}
header.active .header_pc .hamburger span:nth-child(2){display: none;}    */
/* 햄버거 버튼 */



/* 모바일 햄버거 버튼 */
.header_mo .hamburger{cursor: pointer; background-color: transparent; border: none; padding: 0; width: 20px; display: block; position: fixed; top: 38px; right: 6%;}
.header_mo .hamburger span{display: block; width: 20px; border-bottom: 3px solid #9ABD32; transition: all 0.4s;}
.header_mo .hamburger span:not(:last-child){margin-bottom: 4px;}
.header_mo.active .hamburger span{border-color: #9ABD32;}
.header_mo.active .hamburger span:nth-child(1){transform: translateY(8px) rotate(45deg);}
.header_mo.active .hamburger span:nth-child(3){transform: translateY(1px) rotate(-45deg);}
.header_mo.active .hamburger span:nth-child(2){display: none;}   
/* 모바일 햄버거 버튼 Fin */

.header_mo{position: fixed; height: 95px; width: 100%; left: 0; top: 0; z-index: 9999; font-family: 'pretendard'; padding: 0 5%; box-sizing: border-box;}
.header_mo.active{height: 100%;}
.header_mo .top{background-color: #fff; left: 0; top: 0; display: flex; align-items: center; padding: 0 5%; justify-content: space-between; position: fixed; width: 100%; height: 95px;}
.header_mo .top h1 a{display: block; height: 95px; text-indent: -9999px; display: block; background: url('../../assets/images/jungwoo_logo_active.png') center / contain no-repeat; width: 100%; min-width: 270px;}
.header_mo .nav{position: fixed; width: 100%; height: calc(100% - 95px); top: 95px; left: 0;}
.header_mo .nav{display: none; padding: 0 5%; box-sizing: border-box; height: calc(100% - 75px); overflow-y: auto; overflow-x: hidden;}
.header_mo.active .nav{display: block;}
.header_mo .nav > ul{margin-top: 30px; padding-bottom: 30px;}
/* .header_mo .nav > ul > li > span > span{font-weight: 700; color: #9ABD32;}     */
.header_mo .nav > ul > li:not(:last-child){border-bottom: 1px solid #EEEEEE;}
.header_mo .nav > ul > li > span,
.header_mo .nav > ul > li > a{cursor: pointer; line-height: 50px; font-size: 17px; font-weight: 700; color: #9ABD32; text-decoration: none; display: block; position: relative;}
.header_mo .nav > ul > li > span.active{color: #9ABD32;}
.header_mo .nav > ul > li > span > span:nth-child(2){position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.header_mo .nav > ul > li > span > span:nth-child(2) img{transform: rotate(0deg); transition: 0.5s ease-in-out;}
.header_mo .nav > ul > li > span.active > span:nth-child(2) img{transform: rotate(-180deg);}  
.header_mo .mo_sub_menu{display: none;}
.header_mo .mo_sub_menu a{cursor: pointer; line-height: 50px; font-size: 17px; font-weight: 500; color: #555555; text-decoration: none;}
.header_mo .nav .rightBox{justify-content: space-between; padding-bottom: 30px; align-items: center; display: flex; flex-wrap: wrap; width: 100%; position: sticky; top: 100%;}
.header_mo .nav .rightBox .langBox{display: flex; align-items: center;}
.header_mo .nav .rightBox .langBox > button{border-radius: 5px; padding: 5px 10px; border: none; background-color: transparent; font-size: 18px; color: #9ABD32;}
.header_mo .nav .rightBox .langBox > button:not(:first-child){margin-left: 15px;}
.header_mo .nav .rightBox .langBox > button.active{color: #fff; background-color: #9ABD32;}

.header_mo.active .nav{background-color: #fff;}
/* mobile_header Fin  */
/* -----------------------------------header Fin---------------------------- */

footer.gray{background-color: #FBFBFB;}
footer > div{padding: 45px 0;}
footer > div > img{max-width: 100%; display: block; margin-bottom: 60px;}
footer > div >  span{margin-bottom: 60px; display: block; background: url('../../assets/images/footer_logo.png') center / contain no-repeat; width: 170px; height: 37px;}
footer > div > div{display: flex;}
footer > div > div:nth-of-type(1){margin-bottom: 20px;}
footer > div > div:nth-of-type(2){margin-bottom: 45px;}
footer > div > div:nth-of-type(1) span,
footer > div > div:nth-of-type(2) span{font-size: 16px; font-weight: 400; color: #666666; line-height: 19px;}
footer > div > div:nth-of-type(1) span:not(:first-of-type),
footer > div > div:nth-of-type(2) span:not(:first-of-type){padding-left: 25px; margin-left: 25px; position: relative;}
footer > div > div:nth-of-type(1) span:not(:first-of-type):before,
footer > div > div:nth-of-type(2) span:not(:first-of-type):before{content: ''; width: 1px; height: 18px; background-color: #DDDDDD; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
footer > div > p{font-size: 14px; line-height: 16px; color: #999999; font-weight: 300;}


.topBtn{z-index: 999; transition: background 0.2s ease-out; position: fixed; right: 20px; bottom: 25px; width: 52px; height: 52px; border-radius: 100%; border: none; background-color: #F9F9F9;}
.topBtn:after{content: ''; display: block; background: url('../../assets/images/topBtn.png') center / contain no-repeat; width: 12px; height: 12px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.topBtn:hover{background-color: #008AE6;}
.topBtn:hover:after{background-image: url('../../assets/images/topBtn_active.png');}
/* topBtn Fin */



@media (max-width:1600px){
    .header_pc,
    footer > div{width: 90%;}
    footer{padding: 0 0 30px 0;}
}

@media (max-width:1024px){
    .header_pc{display: none;}
    .header_mo{display: block;}


    footer > div{padding: 45px 3%;}
    footer > div > span{margin-bottom: 30px;}
    footer > div > div{flex-wrap: wrap;}
    footer > div > div > span{width: 100%;}
    footer > div > div:nth-of-type(1) span:not(:first-of-type),
    footer > div > div:nth-of-type(2) span:not(:first-of-type){padding-left: 0; margin-left: 0;}
    footer > div > div:nth-of-type(1) span:not(:first-of-type):before,
    footer > div > div:nth-of-type(2) span:not(:first-of-type):before{display: none;}
    footer > div > div:nth-of-type(1),
    footer > div > div span:not(:last-of-type){margin-bottom: 10px;}
    footer > div > div:nth-of-type(2){margin-bottom: 30px;}
    footer > div > div:nth-of-type(3){flex-wrap: wrap;}
    footer > div > div:nth-of-type(3) > *{width: 100%;}
    footer > div > div:nth-of-type(3) p{margin-bottom: 30px;}
    footer > div > div:nth-of-type(3) > div > div{top: -150px;}
}


@media (max-width:768px){
    .header_mo .top h1 a{min-width: 200px;}

    footer > div > div:nth-of-type(3) > div > span,
    footer > div > div:nth-of-type(3) > div > div{width: 100%;}
}